body {
  font-size: 22px;
  font-family: Helvetica;
}

.page-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  width: 600px;
}

.display {
  font-size: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.controls {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  flex: 1;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #999;
}